
.cardd {
 display:inline-block;	
 margin:10px 10px;
  max-width: 300px;
  border-radius: 0.5rem;
  background-color:#ffdfb5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.contentt {
  padding: 1.1rem;
}

.imagee {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color:#ffb677;
}

.titlee {
  color: #1118;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.descc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin: 1rem 5px;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #72352076;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

.allctaa{
    display:flex;
    justify-content:center;
}


.contctaaa{
 display:inline;
 justify-content:center;
 align-items:center;
}
    .ctaaa {
  margin:  0 10px;      
 position: relative;
 padding: 12px 18px;
 transition: all 0.2s ease;
 border: none;
 background: none;

}
.ctaaa a{
    text-decoration:none;
    color:#e6a756;
}

.ctaaa:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 border-radius: 50px;
 background: #ff9100;
 width: 45px;
 height: 45px;
 transition: all 0.3s ease;
}

.ctaaa span {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 0.05em;
 color: #ff9100;
}

.ctaaa svg {
 position: relative;
 top: 0;
 margin-left: 10px;
 fill: none;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke: #ff9100;
 stroke-width: 2;
 transform: translateX(-5px);
 transition: all 0.3s ease;
}

.ctaaa:hover:before {
 width: 100%;
 background:#2e150d;
}

.ctaaa:hover svg {
 transform: translateX(0);
}

.ctaaa:active {
 transform: scale(0.95);
}